* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* globaly definded colors */
:root {
  --navbarColor: #1a1a1a;
  --navbarLinks: #0f0f0f;
  --navbarLinksColor: #81807e;
  --secondaryColor: #ce7d63;
  --secondaryHoverColor: #ffaf94;
  --servicesText: #f9efec;
  --paraText: #676665;
  --successSectionLabelColor: #1f1f1f;
  --border: #333333;
  --paragraphText: #b3b3b2;
  --btnBackground: #1f1f1f;
  --textColor: #f9efec;
  --color: #e6e6e6;
  --testimonilName: #f3dfd8;
  --aboutNumberColor: #da9e8b;

  --navbarColor: #1a1a1a;
  --navbarLinks: #0f0f0f;
  --navbarLinksColor: #81807e;
  --secondaryColor: #ce7d63;
  --secondaryHoverColor: #ffaf94;
  --servicesText: #f9efec;
  --paraText: #676665;
  --border: #333333;
  --paragraphText: #b3b3b2;
  --btnBackground: #1f1f1f;
  --textColor: #f9efec;
  --color: #e6e6e6;
  --testimonilName: #f3dfd8;
}

html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: black;
}
.App {

  min-height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primaryColor: #0b0b0b;
}

::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* globaly definded colors */
:root {
  --navbarColor: #1a1a1a;
  --navbarLinks: #0f0f0f;
  --navbarLinksColor: #81807e;
  --secondaryColor: #ce7d63;
  --secondaryHoverColor: #ffaf94;
  --servicesText: #f9efec;
  --paraText: #676665;
  --successSectionLabelColor: #1f1f1f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  background-color: #000000;
  min-height: 100vh;
}
.circle-1 {
  width: 44vh;
  height: 44vh;
  position: fixed;
  top: 0;
  background-color: white;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.3; 
  animation: float 10s infinite ease-in-out; 
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(70vw, 70vh);
  }
  50% {
    transform: translate(-20vw, 10vh); 
  }
  75% {
    transform: translate(65vw, -65vh); 
  }
  100% {
    transform: translate(0, 0); 
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primaryColor: #e6e6e6;
}
::-webkit-scrollbar {
  display: none;
}
.formname{
  color: #fff;
}
.form-control{
  background-color: #131313;
  border: 1px solid rgb(68, 68, 68) !important;
  color: white !important;
  outline: none;
  
}
.form-control:focus{
  background-color: #131313;
  outline: none !important;
 
}
.form-control::placeholder{
  color: rgb(154, 154, 154);
}
.myformbutton{
  background-color: #000 !important;
}
.mycarder {
  background-color: rgb(27, 27, 27);
  border: 1px solid rgb(100, 100, 100) !important;
  color: rgb(154, 154, 154);
}